.imgx {
  background-size: cover;
  position: relative;
}

.imgx img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 50vw;
}

.imgx video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}