.treat {
background: conic-gradient(from 0deg, #E0228A, #0300AA);
}

.treat > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

a {
  color: #fff;
}