.intro {
  background-image: linear-gradient(#E0218A, #0300aa);
}

.nav {
  align-items: center;
  background-color: #0300aa;
  
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}
.nav A {
  color: #fff;
  padding: 0 1rem;
}