*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
  font-family: Pixel;
  src: url(/src/assets/fonts/PixelEmulator-xq08.ttf) format('truetype');
}

@font-face {
  font-family: DDroid;
  src: url(/src/assets/fonts/DisposableDroidBB.ttf) format('truetype');
}

@font-face {
  font-family: Montserrat;
  src: url(/src/assets/fonts/montserrat.woff2) format('woff2');
}

:root {
  color: #fff;
  font-family: DDroid;
  font-size: 20px;
  text-shadow: 1px 1px #000;
}

h2 {
  font-family: Pixel;
  font-size: clamp(1.5rem, 2.5vw, 6rem);
  padding: 1rem;
  text-align: center;
}

p {
  font-size: clamp(1rem, 1vw, 4rem);
  padding: 0.5rem 2rem;
}